# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*scratch*.ipynb
eda.ipynb


# Environment variables
.env

# MacOS
.DS_Store

# Data / Large Files
archive/
data/*.csv
data/*.parquet
data/*.mat

# Results
results/*.pkl
results/*.json
results/model_performance.csv
